body
{
    background-color: #0E1323;
}

h1
{
    color: white;
    font-size: 56px;
    font-family: Rubik;
    font-weight: 300;
}

h2
{
    font-size: 40px;
    color: white;
    font-weight: 300;
    font-family: Rubik;
}

p
{
    font-size: 18px;
    color: #BBC0FF;
    font-family: Rubik;
}

.smText
{
    font-size: 15px;
    color: #BBC0FF;
    padding: 2rem;
}

.main-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
}

@media screen and (max-width: 1000px)
{
    .main-grid
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}
/* Cards */

/* ----------------- Name Card Start ----------------- */
.name-card-grid
{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.name-card-span
{
    grid-row: span 2;
}

@media screen and (max-width: 1000px)
{
    .name-tabs
    {
        padding: 0;
    }
    
    .img-pfp
    {
        width: 300px;
    }

    .name-card-span
    {
        grid-row: span 0;
    }

    .name-card-grid
    {
    background-color: #5747EA;
    border-radius: 15px;
    padding-top: 1rem;
    }

    .name-tabs
    {
        background-color: #1C204B;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;      
    }
}

.name-tabs
{
    background-color: #1C204B;
    border-radius: 15px;
    padding-top: 3rem;
    margin-top: 5.5rem;
}

p:hover
{
    color: white;
    font-weight: bold;
}

.name-card-grid
{
    background-color: #5747EA;
    border-radius: 15px;
    padding-top: 1rem;
}

.card-text
{
    padding-top: 1rem;
    padding-left: 3rem;
    font-weight: bold;
    color: white;
}

.img-pfp
{
    width: 6.5rem;
    height: 78px;
    margin: 2rem 1rem;
}

.card-grid
{
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    justify-content: center;
}

.name-card-text
{
    font-size: 15px;
    font-family: Rubik;
    padding-left: 2rem;
}

/* --------------- Name Card End ---------------- */

.icon
{
    width: 38%;
    height: 60%;
    margin-right: 0.5rem;
}

.work-color
{
    background-color: #FF8B64;
    border-radius: 15px;
    border: #0E1323 solid;
    border-radius: 15px;
    height: 10rem;
}

.play-color
{
    background-color: #55C2E6;
    border: #0E1323 solid;
    border-radius: 15px;
    height: 10rem; 
}

.study-color
{
    background-color: #FF5E7D;
    border: #0E1323 solid;
    border-radius: 15px;
    height: 10rem;
}

.exercise-color
{
    background-color: #4BCF82;
    border: #0E1323 solid;
    border-radius: 15px;
    height: 10rem;
}

.social-color
{
    background-color: #7335D2;
    border: #0E1323 solid;
    border-radius: 15px;
    height: 10rem;
}

.self-care-color
{
    background-color: #F1C75B;
    border: #0E1323 solid;
    border-radius: 15px;
    height: 10rem;
}

.test-grid
{
    display: grid;
    grid-template-rows: 3.5rem 1fr;
}

.card-bodytest
{
    background-color: #1C204B;
    border-radius: 15px;
    padding-top: 1rem;
}

.card-bodytest:hover
{
    background-color: #33397A;
}